<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>RepoTagger: A tagging system for Github repos</title>
    <link rel="mask-icon" href="favicon.svg">
    <link rel="icon" href="favicon.ico">
    <base href="/" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://code.angularjs.org/1.4.8/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body data-ng-app="repotagger" data-ng-controller="MainController as vm" data-ng-init="vm.init()">
    <script type="text/ng-template" id="sortHeader.html">
      <span class="option" data-ng-click="sort()" title="{{title}}">
        <span data-ng-transclude></span> {{sortDir()}}
      </span>
    </script>
    <nav>
      <a class="button important" target="_blank" href="https://github.com/repotagger/repotagger.github.io#repotagger" title="This aims to be a simpler way of navigating all of an organization's repos. Click for more info.">About RepoTagger</a>
      <input id="name" class="flash" type="text" placeholder="GitHub org/user name" data-ng-model="vm.name" data-ng-keypress="vm.submitForm($event)" title="Enter the name of a Github organization or user" />
      <button data-ng-click="vm.startAPIQuery()" data-ng-switch="vm.data.status" title="Click to submit!">
        <span data-ng-switch-when="0">Load their repos!</span>
        <span data-ng-switch-when="100">Loading page {{vm.data.page}}{{vm.data.last}}...</span>
        <span data-ng-switch-when="200">Reload repos</span>
        <span data-ng-switch-when="403">Try again later.</span>
        <span data-ng-switch-when="404">Not found! :(</span>
      </button>
      <fieldset>
        <span data-sortable data-type="tag" data-field="name" data-title="Sort tags by name">Name</span>
        <span data-sortable data-type="tag" data-field="count" data-title="Sort tags by count">Count</span>
      </fieldset>
      <ul class="taglist">
        <li data-ng-click="vm.filterOn(null)">&bull; All <span>{{vm.data.repos.length}}</span></li>
        <li data-ng-click="vm.filterOn('tagged')">&bull; Tagged <span>{{vm.data.repos.length - vm.data.untagged}}</span></li>
        <li data-ng-click="vm.filterOn('untagged')">&bull; Untagged <span>{{vm.data.untagged}}</span></li>
        <li data-ng-repeat="tag in vm.data.tags | orderBy:vm.tagSort:!vm.tagSortAscend" data-ng-click="vm.filterOn(tag.name)">
          {{tag.name}} <span>{{tag.count}}</span>
        </li>
      </ul>
    </nav>

    <main>
      <ul>
        <li class="repo options">
          <header>
            <p class="stats">
              <span data-sortable data-type="repo" data-field="created_at" data-title="Sort by date updated">Created</span>
              <span data-sortable data-type="repo" data-field="updated_at" data-title="Sort by date updated">Updated</span>
              <span class="digit" data-sortable data-type="repo" data-field="stargazers_count" data-title="Sort by number of stars">&bigstar;</span>
              <span class="digit" data-sortable data-type="repo" data-field="open_issues_count" data-title="Sort by number of open issues">!!</span>
            </p>
            <span data-sortable data-type="repo" data-field="name" data-title="Sort alphabetically">Name</span>
          </header>
        </li>
      </ul>
      <ol>
        <li class="repo" data-ng-repeat="repo in vm.data.repos | filter:vm.filterer | orderBy:vm.repoSort:vm.repoSortAscend">
          <header>
            <p class="stats">
              <span>{{repo.language}}</span>
              <span>{{repo.created_at | date:"MM/dd/yy"}}</span>
              <span>{{repo.updated_at | date:"MM/dd/yy"}}</span>
              <span class="digit">{{repo.stargazers_count}}</span>
              <span class="digit">{{repo.open_issues_count}}</span>
            </p>
            <h2>
              <a class="name" data-ng-href="{{repo.html_url}}" target="_blank"><span data-ng-if="repo.fork">&disin; </span>{{repo.name}}</a>
              <a class="homepage" data-ng-href="{{repo.homepage}}" target="_blank">{{repo.homepage}}</a>
            </h2>
          </header>
          <p class="description">{{repo.description_sans_tags}}</p>
          <ul class="repotags">
            <li data-ng-repeat="tag in repo.tags" data-ng-click="vm.filterOn(tag)">
              {{tag}}
            </li>
          </ul>
        </li>
      </ol>
    </main>
  </body>
</html>
