<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>RepoTagger: A tagging system for Github repos</title>
    <link rel="mask-icon" href="favicon.svg">
    <link rel="icon" href="favicon.ico">
    <base href="/" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <script src="app.js"></script>
</head>
<body data-ng-app="repotagger" data-ng-controller="MainController as vm" data-ng-init="vm.init()">

    <nav>
        <h1><a class="button" href="https://github.com/repotagger/repotagger.github.io#repotagger">About RepoTagger</a></h1>
        <input id="name" type="text" placeholder="GitHub org/user name" data-ng-model="vm.name" data-ng-keypress="vm.submitForm($event)" title="Enter the name of a Github organization or user" />
        <button data-ng-click="vm.startAPIQuery()" data-ng-switch="vm.data.status">
            <span data-ng-switch-when="0">Load their repos!</span>
            <span data-ng-switch-when="100">Loading page {{vm.data.page}}{{vm.data.last}}...</span>
            <span data-ng-switch-when="200">Reload repos</span>
            <span data-ng-switch-when="403">Try again later.</span>
            <span data-ng-switch-when="404">Not found! :(</span>
        </button>
        <fieldset>
            <button data-ng-repeat="(field, label) in {
                name: 'Name',
                count: 'Count'
            }" data-ng-click="vm.sort.tags.field = field; vm.sort.tags.descend = !vm.sort.tags.descend">{{label}}</button>
            <button data-ui-sref="table">Table</button>
            <button data-ui-sref="visual">Visual</button>
        </fieldset>
        <ul class="taglist">
            <li data-ng-click="vm.filterOn(null)">&bull; All <span>{{vm.data.repos.length}}</span></li>
            <li data-ng-click="vm.filterOn('tagged')">&bull; Tagged <span>{{vm.data.repos.length - vm.data.untagged}}</span></li>
            <li data-ng-click="vm.filterOn('untagged')">&bull; Untagged <span>{{vm.data.untagged}}</span></li>
            <li data-ng-repeat="tag in vm.data.tags | orderBy:vm.sort.tags.field : vm.sort.tags.descend" data-ng-click="vm.filterOn(tag.name)">
                {{tag.name}} <span>{{tag.count}}</span>
            </li>
        </ul>
    </nav>

    <main data-ui-view></main>

</body>
</html>
