*{
  margin:0;
  border:0;
  padding:0;
  font-size:inherit;
  font-family:inherit;
  font-weight:inherit;
  font-style:inherit;
  border-collapse:collapse;
  text-decoration:inherit;
  color:inherit;
  list-style:none;
  background-color:transparent;
}
*:focus{
  outline:none;
}

html{
  font-size:14px;
  font-family:"Helvetica Neue", Helvetica, sans-serif;
  background-color:#eee;
}
body{
  color:#444;
}
input[type=radio],
input[type=checkbox]{
  display:none;
}

nav label,
nav button,
#name,
.button,
.taglist li,
.repotags li{
  font-size:14px;
  line-height:28px;
  text-transform:uppercase;
  font-weight:bold;
  font-size:10px;
  letter-spacing:1px;
  text-align:center;
  direction:ltr;
}

#name{
  box-sizing:border-box;
  border-right-width:3px;
  border-style:solid;
  border-color:rgba(0,0,0,0);
  text-align:right;
}
.flash:not(:focus){
  animation: flash 1s infinite steps(2,end);
  -webkit-animation: flash 1s infinite steps(2,end);
}
@keyframes flash{
  from{border-color:rgba(0,0,0,0);}
  to  {border-color:rgba(0,0,0,1);}
}
@-webkit-keyframes flash{
  from{border-color:rgba(0,0,0,0);}
  to  {border-color:rgba(0,0,0,1);}
}

nav{
  background-color:#fff;
  font-size:0;
}
nav label{
  display:inline-block;
  width:50%;
}
nav button,
#name,
.button,
.taglist li{
  display:block;
  width:100%;
}
nav label,
nav button,
.button{
  cursor:pointer;
}
nav label:hover,
nav button:hover,
.button:hover{
  background-color:#8be;
}
nav .button.important{
  color:#fff;
}
nav label,
nav button,
nav .button{
  background-color:#9cf;
  color:#369;
}
nav input:checked+label{
  background-color:#69c;
  color:#bdf;
}

nav input,
.taglist li{
  box-sizing:border-box;
  padding:0 5px;
}
nav input:focus,
.taglist li:hover{
  background-color:#eef;
}
.taglist li{
  border-bottom:1px solid #eee;
  text-align:left;
  cursor:pointer;
}
.taglist li span{
  float:right;
}

main{
  color:#999;
}
main header{
  line-height:28px;
}
main h2 .name{
  font-weight:bold;
  color:#369;
}
main .homepage{
  text-decoration:underline;
}
main .stats{
  float:right;
}
main .description{
  line-height:18px;
}
main .digit{
  display:inline-block;
  min-width:20px;
  text-align:center;
}
.repotags li{
  display:inline-block;
  padding-right:20px;
  cursor:pointer;
}
.repotags li:hover{
  color:#69c;
}
ol .repo{
  list-style-type:decimal;
  list-style-position:inside;
}
.repo{
  border-bottom:1px dashed #ccc;
  padding:14px 0;
}
.options h2,
.options span{
  color:#369;
  cursor:pointer;
  font-weight:bold;
}
.options h2:hover,
.options span:hover{
  text-decoration:underline;
}

@media (min-width:421px){
  nav{
    position:fixed;
    top:0;
    left:0;
    width:180px;
    height:100vh;
    overflow-y:scroll;
    direction:rtl;
  }
  main{
    min-width:480px;
    border-left:180px solid #fff;
    box-sizing:border-box;
    padding:0 20px;
  }
}

@media (max-width:420px){
  main{
    padding:0 5px;
  }
}
